
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    color: #f6f6f6;
    box-sizing: border-box;
}

.header {
    padding: 2% 0% 0% 12%;

}

.header_menu {
    display: flex;
    gap: 80px;
}

.header_menu_link {
    font-family: "Montserrat", serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #22d4fd;
    text-decoration: none;

}

strong {
    color: #22d4fd;
}


.tituloDestaque {
    color: #22d4fd;
}

.presentacion {
    display: flex;
    align-items: center;
    padding: 8% 12%;
    justify-content: space-between;
}

.presentacion_contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo {
    font-size: 2.25rem;
    font-family: "Krona One", serif;
}

.presentacion_contenido_parrafo {
    font-size: 1.5rem;
    font-family: "Montserrat", serif;
}

.presentacion_enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_clases_link{
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: "Montserrat", serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
    border: 2px solid #22d4fd;
    display: flex;
    justify-content: center;
    gap: 10px;
}

img{
    width: 35%;
    height: auto;
}
.presentacion_imagen {
    width: 50%;
}

.presentacion_enlaces_subtitulo{
    font-family: "Krona One", serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.redes_icono {
    width: 30px;
    height: auto;
}

.presentacion_clases_link:hover{
    background-color: #272727;
}

.footer {
    background-color: #22d4fd;
    padding: 1.5rem;
    color: black;
    text-align: center;
    font-family: "Montserrat", serif;
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {

    .header{
        padding: 10%;
    }

    .header_menu {
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion_contenido {
        width: auto;
    }
}